.planetDetailsModalContainer {
  position: fixed;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalOverlay {
  position: absolute;
  inset: 0;
  background-color: var(--background);
  opacity: 0.5;
}

.modalWrapper {
  margin: 0 2rem;
  border-radius: 6px 36px;
  padding: 2rem;
  z-index: 10;
  background-color: var(--foreground);
  color: var(--gradient-background-text);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.modalTitle {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 700;
}

.modalButton {
  background-color: transparent;
  border: none;
  color: var(--gradient-background-text);
  cursor: pointer;
  font-size: 0px;
}

.modalFirstSection {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.125rem;
  line-height: 130%;
  font-weight: 700;
  border-top: 1px solid var(--border-foreground);
  padding-top: 1rem;
  margin: 1rem 0;
}

.modalLastSection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.125rem;
  line-height: 130%;
  font-weight: 700;
  border-top: 1px solid var(--border-foreground);
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .modalWrapper {
    width: 60%;
  }

  .modalTitle {
    font-size: 2rem;
    font-weight: 800;
  }

  .modalFirstSection {
    font-size: 1.5rem;
    font-weight: 800;
  }
  
  .modalLastSection {
    font-size: 1.5rem;
    font-weight: 800;
  }
}