:root {
  --background: #F5F6FA;
  --foreground: #747C7C;
  --foreground-opacity: rgba(242, 242, 242, 0.6);

  --card: #E6E6E5;

  --primary: #262626;
  --primary-foreground: #262626;

  --gradient-background-text: #E7EDF4;

  --secondary: #707070;

  --border: #115D8C;
  --border-foreground: #E7EDF4;

  --base-button: #8C1111;
  --base-button-text: #E7EDF4;

  --theme-switch-color: #FFEB3B;
}

.dark {
  --background: #0D0D0D;
  --foreground: #262626;
  --foreground-opacity: rgba(38, 38, 38, 0.7);

  --card: #E6E6E5;

  --primary: #E6E6E5;
  --primary-foreground: #262626;

  --gradient-background-text: #E6E6E5;

  --secondary: #E7EDF4;

  --border: #115D8C;
  --border-foreground: #E7EDF4;

  --base-button: #8C1111;
  --base-button-text: #E6E6E5;

  --theme-switch-color: #4eaaf6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--primary);
  -webkit-font-smoothing: antialised;
  line-height: 1.4;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 1px var(--border);
}


input:focus {
  outline: transparent;
  box-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}