:root {
  --background: #F5F6FA;
  --foreground: #747C7C;
  --foreground-opacity: rgba(242, 242, 242, 0.6);
  
  --primary: #262626;

  --base-button-text: #E7EDF4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--primary);
  -webkit-font-smoothing: antialised;
  line-height: 1.4;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 0.875rem;
  }
}