.homeContainer {
  height: 100vh;
}

.sectionWrapper {
  width: 100%;
  padding: 2.5rem;
}

.wrapper {
  background-color: var(--foreground);
  height: fit-content;
  max-width: 72rem;
  margin: 0 auto;
  border-radius: 6px;
  padding: 2.5rem;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding: 0 3rem;
}

.title {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  font-Weight: 800;
}

.planetsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}