.homeContainer {
  height: 100vh;
}

.sectionWrapper {
  width: 100%;
  padding: 0.5rem;
}

.wrapper {
  background-color: var(--foreground);
  height: fit-content;
  max-width: 72rem;
  margin: 0 auto;
  border-radius: 6px;
  padding: 2.5rem;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.title {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.125rem;
  line-height: 130%;
  font-Weight: 700;
}

.cardSkeletonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.cardSkeletonPaginationLine {
  width: 60%;
  height: 0.75rem;
  background-color: var(--background);
  margin-bottom: 1.25rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cardSkeletonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.planetsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.planetList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.buttonMobileWrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.buttonMobile {
  font-size: 0.875rem;
  line-height: 160%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: var(--base-button);
  color: var(--base-button-text);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all;
  transition-duration: 0.2s;
  border: none;
}

.buttonMobile:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonMobile:hover {
  background: linear-gradient(270deg, #262626, #115D8C, #8C1111);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
}

.notFoundPlanet {
  font-family: 'Baloo 2', sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-Weight: 800;
  margin: auto 0;
  height: 24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .sectionWrapper {
    padding: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
    font-Weight: 800;
  }

  .buttonMobileWrapper {
    display: none;
  }
}

@media (min-width: 1024px) {
  .searchWrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

















@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}